*{
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS;
}
body{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../imgs/bg3.jpg);
	height:114vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow-x:hidden; 
}
.navbar{
	position:sticky;
	margin: 0;
	left:0;
	top:0;
	width: 100%;
	height: auto;
	padding: 2px;
}
ul{
	list-style-type: none;
	margin-top: 20px;
	margin-right: 50px;
}
ul li{
	float: right;
    display:flex;
    padding: 0 18px;
}
ul li ul{
	display: none;
	position: absolute;
	color: white;
	padding: 14px 0;

}
ul li:hover ul{
	display: block;
}
ul li ul li {

	float: left;
	padding: 14px;
	width: 75%;

}
ul li ul li:hover{
    background-color: white;
    color: black;
}
li a{
	text-decoration: none;
    color: white;
    transition: 0.5s;
}
.active a{
	margin-top: -8px;
   padding: 8px 16px;
   background-color: white;
   color: black;
}
li a:hover{
	transform: scale(0.8);
	transition: 0.5s;
	margin-top: -8px;
	padding: 8px 16px;
    background-color: white;
    color: black;
}
.text{
	position: static;
	margin-top: 5vh;
	margin-left: 190px;
	color: white;
}
.logo img{
	margin-top: 20px;
	float: left;
	width:200px;
	height:auto ;
}
.indexgallery{
	margin-left: 190px;
	margin-top: 50px;
}
.indexgallery img{
	width: 100%;
	border-radius: 5px;
}
.indexgallery img:hover{
	transform: scale(1.5);
	transition: 0.5s transform;
}
.box{
	align-items: center;
	display: inline-block;
	width: 20%;
	height: 20%;
	padding: 5px;
}
