*{
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS;
}
body{
	overflow-x:hidden;  
}
.navbar{
	position:sticky;
	margin: 0;
	left:0;
	top:0;
	width: 100%;
	height: auto;
	padding: 2px;
}
ul{
	list-style-type: none;
	margin-top: 20px;
	margin-right: 50px;
}
ul li{
	position: relative;
	float: right;
    display:flex;
    padding: 0 18px;
}
ul li ul{
	display: none;
	position: absolute;
	color: white;
	padding: 14px 0;

}
ul li:hover ul{
	display: block;
}
ul li ul li {

	float: left;
	padding: 14px;
	width: 75%;

}
ul li ul li:hover{
    background-color: white;
    color: black;
}

li a{
	text-decoration: none;
    color: white;
    transition: 0.5s;
}
.active a{
	margin-top: -8px;
   padding: 8px 16px;
   background-color: white;
   color: black;
}
li a:hover{
	transform: scale(0.8);
	transition: 0.5s;
	margin-top: -8px;
	padding: 8px 16px;
    background-color: white;
    color: black;
}

.logo img{
	margin-top: 20px;
	float: left;
	width:200px;
	height:auto ;
}
.bgimg {
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../imgs/bgcrop.jpg);
	height: 450px;
	width: 100%;
}
.bgtext{
	color: white;
	margin-top: 300px;
	margin-left: 44%;
}
.bgtext img {
 width: auto;
 height: 20px;
}
.bgtext a{
	text-decoration: none;
	color: #1d5e22;
}

.gallery{
	margin-top: 50px;
	margin-left: 180px;
	margin-right: 100px; 
}
.gallery img  {
	transition: 0.5s;
	
}
.post a img:hover{
	transform: scale(0.9);
	filter: grayscale(50%);
	
}
.post{
	padding: 15px;
	display: inline-block;
	background-color: white;
	height: 220px;
	width: 200px;
}
.thumbnail{
	height: 200px;
	width: 200px;

}
.like{
	margin-top: 2px;
	height: 18px;
	width: auto;

}
.likecount{
	color:gray;
	padding-left: 5px;
	font-size: 10px;
}
.bookmark{
	margin-top: 2px;
	margin-left: 160px;
	height:15px;
	width: auto;

}
.bookmark:hover{
	transform: scale(0.9);
	transition: 0.5s;
}
